<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
</head>
<body>


<!-- -*----- This file not used anywhere in the project -----*- -->

<h1>Java Types</h1>
<div class="coffeeList">
    <ol>
        <li>French Roast</li>
        <li>Espresso</li>
        <li>Kopi Luwak</li>
        <li>Instant</li>
    </ol>
</div>
<hr>
<div class="links">
    <h2>Links</h2>
    <a href="https://www.launchcode.org/">LaunchCode</a> <br>
    <a href="https://en.wikipedia.org/wiki/Coffee">Coffee</a>
</div>
</body>
</html>